<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

</head>
<body>
  <form id="login-form">
    <div class="error" id="error-msg"></div>
    <div>
      <h3>
        Sign in to continue!
      </h3>
    </div>
    <div class="form_fields">
    <div class="form_fields_int">
    <label for="username" id="user">Username</label>
    <input type="text" id="username" class="input" required placeholder="sarra chahab " />
    </div>
    <div class="form_fields_int">
    <label for="password" id="pass">Password</label>
    <input type="password" id="password" class="input" required placeholder="#######" />
    </div>
    </div>
    <div id="btn">
      <button type="submit" id="login">Login</button>
    </div>
    <code class="form_fields_int" id="register_link-phrase">
      <p>Don't have an account ?</p>
      <a href="/register" class="register_link">Register</a>
    </code>
  </form>
  <script>
    document.getElementById('login-form').addEventListener('submit', async (e) => {
      e.preventDefault();
      const username = document.getElementById('username').value.trim();
      const password = document.getElementById('password').value;

      const errorMsg = document.getElementById('error-msg');
      errorMsg.textContent = '';

      try {
        const response = await fetch('/api/login', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ username, password })
        });

        const data = await response.json();

        if (response.ok) {
          localStorage.setItem('access_token', data.access_token);
          const token = localStorage.getItem('access_token');
          const response = await fetch('/dashboard', {
            method: 'GET',
            headers: {
              'Authorization': `Bearer ${token}`
            }
          });
          const html = await response.text();
          document.open();
          document.write(html);
          document.close();
        } else {
          errorMsg.textContent = data.msg || 'Login failed';
        }
      } catch (err) {
        errorMsg.textContent = 'An error occurred. Try again.';
      }
    });
  </script>
</body>
</html>
