
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body id="body">
<div class="register-container">
  
  <form method="POST" id="register-form">
    <h3>Create Account</h3>
  <div class="under_form_container">

    
    <div class="form_fields_reg">
    {{ form.hidden_tag() }}
    <div class="form_fields_int_reg">
    <label for="username">{{ form.username.label.text }}</label>
    {{ form.username(id="username", class="input") }}
    </div>
    <div class="form_fields_int_reg">
    <label for="password">{{ form.password.label.text }}</label>
    {{ form.password(id="password", class="input") }}
    </div>
    </div>
    <div class="form_fields_reg">
       <div class="form_fields_int_reg">
    <label for="confirm_password">{{ form.confirm_password.label.text }}</label>
    {{ form.confirm_password(id="confirm_password" , class="input") }}
    </div>
    <div class="form_fields_int_reg_">
    <label for="role" id="label_role">{{ form.role.label.text }}</label>
    {{ form.role(id="role", class="input") }}
    </div>
   
    </div>


  </div>
      <div  class="btn-register">
      {{ form.submit( id="reg") }}
    </div>
      <code class="form_fields_int" id="register_link-phrase">
      <p>Already have an account ?</p>
      <a href="/login" class="register_link">Sign in</a>
    </code>
  </form>
</div>
</body>
</html>

{% endblock %}
